<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bredesh.medico">

    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_medico"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".Login.RegisterActivity" />
        <activity android:name=".Login.MainLoginActivity"/>
        <activity android:name=".Camera.VideoData"/>
        <activity android:name=".Camera.NavigationAfterData"/>

    </application>

</manifest>